{% extends "base.html" %}
{% load url from future %}

{% block topbar %}{% endblock %}

{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<div class="fieldWrapper">
<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
  <td>{{ form.username.errors.as_text }}</td>
</tr>
</div>
<div class="fieldWrapper">
<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
  <td>{{ form.password.errors.as_text }}</td>
</tr>
</div>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{{ form.non_field_errors.as_text|cut:"*" }}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endblock %}

{% block footer %}
<a id="button" href="/register/">Create account</a>
{% endblock %}
